node_modules/
bower_components/
*.log

.DS_Store

frame_data.json

build/
dist/
screenshots/

src/**/*.js
src/**/*.d.ts
src/**/*.map
tools/**/*.d.ts
tools/**/*.map
tools/**/*.js
data/**/*.d.ts
data/**/*.map
data/**/*.js